<!DOCTYPE html>
<!-- Muotoilujen ja CSS:n luomisessa on käytetty apuna ChatGPT:tä -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<link rel="stylesheet" href="/css/styles.css"> 
<head>
<title>Item List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Item list</h1>
	
	<div sec:authorize="isAuthenticated()">
		<span>Logged in as "<span sec:authentication="name">Name</span>"</span>
		&nbsp;
		<form th:action="@{/logout}" method="post" style="display: inline;">
			<input type="submit" value="Sign out" class="small-button" >
		</form>
	</div>
	
	<table class="table table-striped">
		
		<tr>
			<th>Item <a th:href="@{/item/orderbyitem}" class="order-link">^^</a></th>
			<th>Description</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>	
		
		<tr th:each="item : ${item}">
			<td> <a th:href="@{/item/{id}(id=${item.itemId})}" th:text="${item.itemName}" th:title="'Get more information about ' + ${item.itemName} + ' and add notes'"></a></td>
			<td th:text="${item.itemDescription}"></td>
			<td><a th:href="@{/item/edit/{id}(id=${item.itemId})}" class="btn">Edit</a></td>
			<td><a th:href="@{/item/delete/{id}(id=${item.itemId})}" onclick="return confirm('Are you sure you want to delete this Item?');" class="btn" >Delete</a></td>
		</tr>
			
	</table>
	
	<a href="/item/additem" class="btn" >Add new Item</a>
	
	
	<div class="footer-nav">
		<a href="../">Home</a> |
		<a href="../npc/npclist">NPC list</a> |
		<a href="../place/placelist">Place list</a> |
		<a href="../keyword/keywordlist">Keyword list</a>	
	</div>

</body>
</html>