<!DOCTYPE html>
<!-- Muotoilujen ja CSS:n luomisessa on käytetty apuna ChatGPT:tä -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Edit NPC</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<h1>Edit NPC</h1>
	<form action="#" th:action="@{/npc/saveeditednpc}" th:object="${editNpc}" method="post">	
		<input type="hidden" th:field="*{npcId}" class="form-control" />
		<div>
			<label for="npcName">Name</label>
			<input type="text" th:field="*{npcName}" class="styled-input" />
			
			<div th:if="${#fields.hasErrors('npcName')}" class="error-message">
				<span th:errors="*{npcName}">Error</span>
			</div>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="place">Place</label>
			<select th:field="*{place}" class="styled-input">
				<option value="">(No Place)</option>
       			<option th:each="place: ${places}" th:value="${place.placeId}" th:text="${place.placeName}"></option>
    		</select>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="npcDescription">Description</label>
			<textarea th:field="*{npcDescription}" class="styled-input"></textarea>
			<div style="clear: both; display: block; height: 10px;"></div>
			
		</div>
		<input class="btn btn-success" type="submit" value="Update" />

	</form>

</body>

</html>