<!DOCTYPE html>
<!-- Muotoilujen ja CSS:n luomisessa on käytetty apuna ChatGPT:tä -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Npc Information</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<h1>Npc information</h1>

		<div th:object="${npc}">

    		<label>Name:</label>
    		<span th:text="*{npcName}"></span>
    
    		<div style="clear: both; display: block; height: 10px;"></div>
    
    		<label>Place:</label>
    		
    		<div>
    			<a th:if="*{place != null}" th:href="@{/place/{id}(id=*{place.placeId})}" th:text="*{place.placeName}"></a>
    			<span th:unless="*{place != null}">(No Place)</span>
			</div>
    		
    		
   			<div style="clear: both; display: block; height: 10px;"></div>
    
    		<label>Description:</label>
    		<span th:text="*{npcDescription}"></span>
    		
    		<div style="clear: both; display: block; height: 10px;"></div>
    		
    		<label>Notes:</label>
    		<div th:each="note : *{notes}" class="note-item">
   				<p class="note-text" th:text="${note.noteContent}"></p>
    			<a th:href="@{/note/edit/{id}(id=${note.noteId})}" class="small-button">Edit</a>
			</div>
    		
    		<div style="clear: both; display: block; height: 10px;"></div>
    		
    		<label>Keywords:</label>
    		<div th:each="keyword : *{keywords}" class="note-item">	
    			<a th:href="@{/keyword/{id}(id=${keyword.keywordId})}" th:text="${keyword.keywordName}" class="note-text"></a>   		
    		</div>
    		
		</div>
		
		<br>
		<a th:href="@{/npc/edit/{id}(id=${npc.npcId})}" class="btn btn-success">Edit basic info</a>
		<a th:href="@{/npc/addnpcnote/{id}(id=${npc.npcId})}" class="btn btn-success">Add new Note</a>
		<a th:href="@{/npc/editkeywords/{id}(id=${npc.npcId})}" class="btn btn-success">Edit keywords</a>
		
		<br><br>
		<a href="npclist" class="btn btn-success">NPC list</a>
		
</body>

</html>