<!DOCTYPE html>
<!-- Muotoilujen ja CSS:n luomisessa on käytetty apuna ChatGPT:tä -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<!-- <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> -->
	<link rel="stylesheet" href="/css/styles.css"> 
<head>
<title>NPC List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>NPC list</h1>
	<table class="table table-striped">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Place</th>
		<th>Description</th>
		<th>Delete</th>
		<th>Edit</th>
	</tr>	
	<tr th:each="npc : ${npc}">
		<td th:text="${npc.npcId}"></td>
		<td> <a th:href="@{/npc/{id}(id=${npc.npcId})}" th:text="${npc.npcName}" th:title="'Get more information about ' + ${npc.npcName} + ' and add notes'"></a></td>
		<!-- Ohjelma meni solmuun, jos paikan jätti tyhjäksi. -->
		<!-- ChatGPT: Ongelma johtuu siitä, että kun NPC:llä ei ole valittua paikkaa, npc.place on null ja Thymeleaf yrittää silti lukea npc.place.placeName, mikä aiheuttaa virheen. -->
		<!-- ChatGPT: Tämä [alla oleva viilattu koodi] varmistaa, että jos paikkaa ei ole valittu, solu on tyhjä eikä virhettä synny. -->
		<td th:text="${npc.place != null ? npc.place.placeName : ''}"></td>
		<td th:text="${npc.npcDescription}"></td>
		<td><a th:href="@{/npc/delete/{id}(id=${npc.npcId})}" onclick="return confirm('Are you sure you want to delete this NPC?');" class="btn btn-danger" >Delete</a></td>
		<td><a th:href="@{/npc/edit/{id}(id=${npc.npcId})}" class="btn btn-success">Edit</a></td>
	</tr>	
</table>
<br>
<a href="/npc/addnpc" class="btn btn-success">Add new NPC</a>
	
</body>
</html>