<!DOCTYPE html>
<!-- Muotoilujen ja CSS:n luomisessa on käytetty apuna ChatGPT:tä -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<link rel="stylesheet" href="/css/styles.css"> 

<head>
	<title>NPC List</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>NPC list</h1>
	
	<div sec:authorize="isAuthenticated()">
		<span>Logged in as "<span sec:authentication="name">Name</span>"</span>
		&nbsp;
		<form th:action="@{/logout}" method="post" style="display: inline;">
			<input type="submit" value="Sign out" class="small-button" >
		</form>
	</div>

	
	<table class="table">
		
		<tr>
			<th>Name <a th:href="@{/npc/orderbynpc}" class="order-link">^^</a></th>
			<th>Place <a th:href="@{/npc/orderbyplace}" class="order-link">^^</a></th>
			<th>Description</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>	
		
		<tr th:each="npc : ${npc}">
			<td> <a th:href="@{/npc/{id}(id=${npc.npcId})}" th:text="${npc.npcName}" th:title="'Get more information about ' + ${npc.npcName} + ' and add notes'"></a></td>
			<!-- Ohjelma meni solmuun, jos paikan jätti tyhjäksi. -->
			<!-- ChatGPT: Ongelma johtuu siitä, että kun NPC:llä ei ole valittua paikkaa, npc.place on null ja Thymeleaf yrittää silti lukea npc.place.placeName, mikä aiheuttaa virheen. -->
			<!-- ChatGPT: Tämä [alla oleva viilattu koodi] varmistaa, että jos paikkaa ei ole valittu, solu on tyhjä eikä virhettä synny. -->
			<td th:text="${npc.place != null ? npc.place.placeName : ''}"></td>
			<td th:text="${npc.npcDescription}"></td>
			<td><a th:href="@{/npc/edit/{id}(id=${npc.npcId})}" class="btn">Edit</a></td>
			<td><a th:href="@{/npc/delete/{id}(id=${npc.npcId})}" onclick="return confirm('Are you sure you want to delete this NPC?');" class="btn" >Delete</a></td>
		</tr>
			
	</table>
	
	<a href="/npc/addnpc" class="btn">Add new NPC</a>
	
	
	<div class="footer-nav">
		<a href="../">Home</a> |
		<a href="../place/placelist">Place list</a> |
		<a href="../item/itemlist">Item list</a> |
		<a href="../keyword/keywordlist">Keyword list</a>	
	</div>
	
	
</body>
</html>