<!DOCTYPE html>
<!-- Muotoilujen ja CSS:n luomisessa on käytetty apuna ChatGPT:tä -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Edit Keyword</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<h1>Edit keyword</h1>
	<form action="#" th:action="@{/keyword/saveeditedkeyword}" th:object="${keyword}" method="post">	
		<input type="hidden" th:field="*{keywordId}" />
		<div>
			<label for="keywordName">Keyword</label>
			<input type="text" th:field="*{keywordName}" class="styled-input" />
			
			<div th:if="${#fields.hasErrors('keywordName')}" class="error-message">
				<span th:errors="*{keywordName}">Error</span>
			</div>
			
			<div th:if="${errorMessage}" class="error-message">
    			<p th:text="${errorMessage}"></p>
			</div>
			
		</div>
		<input class="btn btn-success" type="submit" value="Save" />
		<a th:href="@{/keyword/{id}(id=${keyword.keywordId})}" class="btn btn-success">Do not save</a>

	</form>

</body>

</html>