<!DOCTYPE html>
<!-- Muotoilujen ja CSS:n luomisessa on käytetty apuna ChatGPT:tä -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<!-- <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> -->
	<link rel="stylesheet" href="/css/styles.css"> 

<head>
<title>Keyword List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Keyword list</h1>
	<table class="table table-striped">
	<tr>
		<th>Id</th>
		<th>Keyword</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>	
	<tr th:each="keyword : ${keyword}">
		<td th:text="${keyword.keywordId}"></td>
		<td> <a th:href="@{/keyword/{id}(id=${keyword.keywordId})}" th:text="${keyword.keywordName}" th:title="'More information about ' + ${keyword.keywordName}"></a></td>
		<!--
		<td><a th:href="@{/keyword/edit/{id}(id=${keyword.keywordId})}" class="btn btn-success">Edit</a></td>
		<td><a th:href="@{/keyword/delete/{id}(id=${keyword.keywordId})}" onclick="return confirm('Are you sure you want to delete this NPC?');" class="btn btn-danger" >Delete</a></td>
		-->
	</tr>	
</table>
<br>
<a href="/keyword/addkeyword" class="btn btn-success">Add new Keyword</a>
	
</body>
</html>