<!DOCTYPE html>
<!-- Muotoilujen ja CSS:n luomisessa on käytetty apuna ChatGPT:tä -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	<!-- <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> -->
	<link rel="stylesheet" href="/css/styles.css"> 

<head>
<title>Keyword List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Keyword list</h1>
	
	<div sec:authorize="isAuthenticated()">
		<span>Logged in as "<span sec:authentication="name">Name</span>"</span>
		&nbsp;
		<form th:action="@{/logout}" method="post" style="display: inline;">
			<input type="submit" value="Sign out" class="small-button" >
		</form>
	</div>
	
	<table class="table">
	
		<tr>
			<th>Keyword <a th:href="@{/keyword/orderbykeyword}" class="order-link">^^</a></th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>	
	
		<tr th:each="keyword : ${keyword}">
			<td> <a th:href="@{/keyword/{id}(id=${keyword.keywordId})}" th:text="${keyword.keywordName}" th:title="'More information about ' + ${keyword.keywordName}"></a></td>
			<td><a th:href="@{/keyword/edit/{id}(id=${keyword.keywordId})}" class="btn">Edit</a></td>
			<td><a th:href="@{/keyword/delete/{id}(id=${keyword.keywordId})}" onclick="return confirm('Are you sure you want to delete this Keyword? This will also delete this keyword from all the npcs and places it was added to.');" class="btn" >Delete</a></td>
		</tr>	
	
	</table>

	<a href="/keyword/addkeyword" class="btn">Add new Keyword</a>
	
	<div class="footer-nav">
		<a href="../">Home</a> |
		<a href="../npc/npclist">NPC list</a> |
		<a href="../place/placelist">Place list</a>	
	</div>
	
</body>
</html>